* {box-sizing: border-box;}

a {
	text-decoration: none;
	color: black;
}

/*cabeçalho*/

header {
    width: 100%;
    height: 79.88px;
    min-width: 1024px;
    position: fixed;
    background-color: white;
    z-index: 2;
}

#parte_central_titulo {
    display: flex;
    left: calc(8% + -0.43px);
    width: 80%;
    min-width: 1024px;
    position: fixed;
    background-color: white;
}

#titulo {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

span {
	color: #0068a3;
}

#opcoes_direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

/*primeira parte do site*/

.fundo_mar {
	display: flex;
    justify-content: center;
    align-items: center;
}

section img {
	display: flex;
	width: 100%;
}

#apresentacao_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
    position: absolute;
    background-color: #80ffff;
    opacity: 0.75;
    font-size: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
}

.letras_titulo {
    opacity: 1;
    margin-bottom: 15px;
    color: white;
}

/*segunda parte do site*/

#recebimento_hospedes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 260px;
    flex-direction: column;
    color: #5D595A;
}

.alinhamento_texto_geral {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #5D595A;
}

/*terceira parte do site*/

#demonstracao_quartos {
    display: flex;
    justify-content: space-around;
}

.central_img {
    display: flex;
    width: 31%;
    height: auto;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 141, 112);
    border-bottom-width: 2px;
}

/*quarta parte do site (mapa) */

#rota{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    flex-direction: column;
    text-align: center;
    color: #5D595A;
}

#mapa {
    width: 100%;
    height: 455px;
}

iframe {
    width: 100%;
}

/*quinta parte do site (sobre)*/

#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    flex-direction: column;
    text-align: center;
    color: #5D595A;
}

#descricoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descricoes_individuais {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 150px;
    padding-bottom: 20px;
    text-align: left;
}

.img_descricao{
    /* width: auto; */
    height: 100%;
    max-width: 105px;
    /* display: flex; */
}

.escrita_divisoes {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    /* flex-wrap: wrap; */
}
